.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(239, 233, 237, 0.423);
    margin: 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.bigtext{
    text-align: center;
    font-size: 40;
    width: 60px;
    padding-right: 10px;
}

.text {
    margin: 20px;
}

.texts {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-top: 40px;
    border-radius: 25px;
    background-color: rgba(239, 233, 237, 0.423);
    padding-left: 20px;
    align-items: center;
}

.stats {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.statline {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.bigstat {
    font-size: 25px;

}

.link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: rgb(96, 94, 94);
}